.header {
    background-color: #fff;
    display: block;
    text-align:center;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    display: inline;
    color: #996600;
    text-decoration: none;
    font-weight: 500;
    font-size: 28px;
}