
.confirm__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
  color: #be9a7b;
}

.confirm__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 80%;
}

.confirm-table {
  border: 1px solid #ddd;
}

.confirm-table__inner {
  width: 100%;
}

.confirm-table__header {
  padding: 15px;
  width: 35%;
  border-bottom: 1px solid #ddd;
  background-color: #be9a7b;
  color: #fff;
  font-weight: bold;
}

.confirm-table__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
  width: 100%;
  outline: none;
  border: none;
  color: #aa8a6f;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
  color: #fff;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 15%;
  height: 40px;
  border: none;
  background: #aa8a6f;
  color: #fff;
}

.form__button-correction {
    padding: 10px;
    width: 15%;
    height: 40px;
    border: none;
    color: #aa8a6f;
    text-decoration: underline;
    background-color: #fff;
}